@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">Dashboard</MudText>
<div Class="d-flex flex-wrap gap-4" Elevation="0">
	<MudCard Class="align-center" Width="280px" Height="170px">
		<MudCardContent>
			<MudText>12</MudText>
			<MudText Typo="Typo.body2">Quizzes</MudText>
		</MudCardContent>
	</MudCard>
	<MudCard Class="align-center" Width="300px" Height="170px">
		<MudCardContent>
			<MudText>12</MudText>
			<MudText Typo="Typo.body2">Users</MudText>
		</MudCardContent>
	</MudCard>
	<MudCard Class="align-center" Width="300px" Height="170px">
		<MudCardContent>
			<MudText>12</MudText>
			<MudText Typo="Typo.body2">Pending Results</MudText>
		</MudCardContent>
	</MudCard>
	<MudCard Class="align-center" Width="300px" Height="170px">
		<MudCardContent>
			<MudText>12</MudText>
			<MudText Typo="Typo.body2">Certificates</MudText>
		</MudCardContent>
	</MudCard>

</div>
